DATABASE_URL="postgresql://postgres:postgres@localhost:5432/salon_de_la_danse?schema=public"


BETTER_AUTH_SECRET="change-me-in-production"
BETTER_AUTH_URL="http://localhost:3000"


NEXT_PUBLIC_APP_URL="http://localhost:3000"

UPLOAD_DIR="./storage/photos"


SMTP_HOST="localhost"
SMTP_PORT="1025"
# SMTP_USER=""
# SMTP_PASSWORD=""
MAIL_FROM="Salon de la Danse <ne-pas-repondre@localhost>"
